body{
    background-color: #18181D ;
}
.logo-class{
    height: 30px;
    width: auto;
}
.custom-navbar{
    background-color: #080808;
    color: white;
  
    
}
.navbar .nav-link{
    color: rgb(109, 109, 109);

}
.hero-netflix {
  display: flex;
  align-items: flex-end;   /* push content to the bottom */
  padding-top: 285px;    /* default (mobile) */
  min-height: 500px;
}

@media (min-width: 768px) {
  .hero-netflix {
    padding-bottom: 60px;  /* tablets & laptops */
    min-height: 600px;     /* taller for bigger screens */
  }
}

@media (min-width: 1200px) {
  .hero-netflix {
    padding-bottom: 80px;  /* large desktops */
    min-height: 700px;
  }
}
