body{
    margin: 0;
    height: 100vh;
     background: url("gif.gif") no-repeat center center fixed;
      background-size: cover;
}

.custom-btn{
    background-color: #18181D;
    color: rgb(218, 217, 217);
}
